*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#ffffff;
  font-family: Arial, sans-serif;
}

.container{
  width:100%;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:40px 20px;
}

.card{
  width:420px;
  text-align:center;
}

.card i{
  width:170px;
  height:170px;
  background:#a8745c;
  color:#fff;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:55px;

  border-radius:50px 50px 50px 50px;

  margin:0 auto 25px auto;
}

.card h3{
  font-family: "Georgia", serif;
  font-size:50px;
  font-weight:500;
  color:#222;
  line-height:1.1;
  margin-bottom:30px;
}

.text p{
  font-family: "Georgia", serif;
  font-size:26px;
  color:#8a8a8a;
  line-height:1.7;
  width:95%;
  margin:0 auto;
}
